{% extends 'base.html' %}

{% block content %}	
	<h1>Form:</h1>

    
	 <form method="POST">
        {{ form.csrf_token }}

        {% for field in form %}
            {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                <div>
                        {{ field.label }} {{ field }}

                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {{ form.submit }}

    </form>

{% endblock %}
